@import "colors.scss";

@font-face {
    font-family: "Inter";
    src: url("./assets/font/inter/Inter-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/font/inter/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/font/inter/Inter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/font/inter/Inter-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Product Sans";
    src: url("./assets/font/product/Product Sans Regular.ttf") format("opentype");
    font-style: normal;
}

@font-face {
    font-family: "Product Sans";
    src: url("./assets/font/product/product_sans_medium.ttf") format("opentype");
    font-weight: medium;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {
    font-family: "Product Sans", sans-serif;
    font-weight: medium;
    user-select: none;
    overflow: hidden;
}


::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $accent-color;
    border-radius: 10px;
}